{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">

            <h1>Sections list</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre de la section</th>
                </tr>
                </thead>
                <tbody>
                {% for section in sections %}
                    <tr>
                        <td><a href="{{ path('admin_section_show', { 'id': section.id }) }}">{{ section.id }}</a></td>
                        <td>{{ section.thetitle }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a class="btn btn-primary" href="{{ path('admin_section_new') }}">Ajouter une section</a>


        </div>

{% endblock %}
