{% extends 'base.html.twig' %}

{% block body %}
        <div class="row">

            <h1>Article edit</h1>

            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn btn-primary" type="submit" value="Editer" />
            {{ form_end(edit_form) }}

            <br>
            <a href="{{ path('admin_article_index') }}">Retour à la gestion des articles</a>

        </div>

{% endblock %}
