{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Article creation</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" value="Créer" />
        {{ form_end(form) }}

        <br>
        <a href="{{ path('admin_article_index') }}">Retour à la liste des articles</a>

    </div>

{% endblock %}
